<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>michelle</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../static/img/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/img/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/img/ico/favicon-16x16.png">
    <link rel="manifest" href="../static/img/ico/site.webmanifest">

    <link href="https:/fonts.googleapis.com/css?family=Merriweather|Motserrat|Sacramento" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <div id="particles-js">
        <div class="heading">
            <h1>I'm Michelle</h1>  
            <span class="autotyper">
                <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
                <span style="color:red" class="shell-red" >joao@michelle</span>
                :
                <span  style="color: blue" class="shell-blue">~</span>
                #
                <span id="autotype"class="txt-rotate" data-period="2000" data-rotate='["hacker", "programmer", "IrepJesus", "5.0 Student"]'></span>
                <script src="/static/js/typer.js"></script>
            </span>
        </div>
    </div>
    


    <script src="/static/js/particles.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/typer.js"></script>    
    
    <footer>
        <p>&copy; 2021 - MiTECH</p>
    </footer>
</body>
</html>



